@model MvcMovie.Core.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Reinitialisation de mot de passe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
{
    <a href="@Url.Action("Login", "Account")">Retour</a>
    <p>Vous avez oublié votre mot de passe ?</p>
    <p>Veuiller rentrer votre identifiant dans le formulaire ci-dessous. Un email contenant un lien de redéfinition de mot de passe vous sera envoyé.</p>

    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.TextBoxFor(model => model.Login, new { required = "required", focus = "focus", @class = "form-control", placeholder = "Email" })
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Envoyer un email de redéfinition de mot de passe</button>
}
